extends ../layout

block content
  .container.mt-5
    h1 Mijn Huringen
    if user
      p Welkom, #{user.firstName}!
      if films && films.length
        table.table.table-striped.mt-4
          thead
            tr
              th Titel
              th Genre
              th Jaar
              th Datum Gehuurd
              th Datum Ingeleverd
              th Actie
          tbody
            each film in films
              tr
                td= film.title
                td= film.genre
                td= film.release_year
                td= film.rental_date.toLocaleString ? film.rental_date.toLocaleString() : film.rental_date
                td= film.return_date ? (film.return_date.toLocaleString ? film.return_date.toLocaleString() : film.return_date) : '-'
                td
                  - // Bereken deadline: rental_date + 2 weken
                  - var deadline = new Date(film.rental_date)
                  - deadline.setDate(deadline.getDate() + 14)
                  | Deadline: #{deadline.toLocaleDateString ? deadline.toLocaleDateString() : deadline}
      else
        p Je hebt nog geen films gehuurd.
    else
      p Je bent niet ingelogd.
